name: Build AAB Local (Expo)

on:
  workflow_dispatch:

jobs:
  build-aab:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install expo & turtle-cli
        run: |
          npm install -g expo-cli turtle-cli

      - name: Install dependencies
        run: npm install

      - name: Decode keystore
        run: |
          echo "${{ secrets.ANDROID_KEYSTORE }}" | base64 --decode > keystore.jks

      - name: Build AAB with turtle-cli
        env:
          EXPO_ANDROID_KEYSTORE_PASSWORD: ${{ secrets.ANDROID_KEYSTORE_PASSWORD }}
          EXPO_ANDROID_KEY_PASSWORD: ${{ secrets.ANDROID_KEY_ALIAS_PASSWORD }}
          EXPO_ANDROID_KEYSTORE_ALIAS: ${{ secrets.ANDROID_KEY_ALIAS }}
        run: |
          mkdir -p build
          turtle build:android \
            --type app-bundle \
            --keystore-path ./keystore.jks \
            --keystore-alias $EXPO_ANDROID_KEYSTORE_ALIAS \
            --output build/app-release.aab

      - name: Upload AAB Artifact
        uses: actions/upload-artifact@v4
        with:
          name: android-aab
          path: '**/*.aab'
